body {
  font-family: Roboto, sans-serif;
  background-color: #fff;
  color: #434455;
}
ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #2e2f42;
}
button {
  cursor: pointer;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
address {
  font-style: normal;
}

/* #region Header */
.header {
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-span {
  color: #2e2f42;
}
.nav {
}
.menu {
}
.menu-item {
}
.menu-link {
  color: #434455;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
/* #endregion Header */

/* #region Hero */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;

  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* #endregion Hero */

/* #region Section-one */
.section-one {
}
.features {
}
.features-item {
}
.features-title {
  line-height: 1.2;
  color: #2e2f42;
}
.features-text {
}
/* #endregion Section-one */
/* #region Section-two */
.section-two {
  background-color: #f4f4fd;
}
.section-two-title {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.teams {
}
.teams-item {
  background-color: #ffffff;
}
.teams-name {
  text-align: center;
  color: #2e2f42;
}
.teams-profession {
  text-align: center;
}
/* #endregion Section-two */
/* #region Section-tree */
.section-three {
}

.portfolio {
}
.portfolio-item {
}
.portfolio-titels {
  line-height: 1.2;
  color: #2e2f42;
}
.portfolio-text {
}
/* #endregion Section-tree */
/* #region Footer */
.footer {
  background-color: #2e2f42;
}

.logo-span-change {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}
/* #endregion Footer */
